.App {
  text-align: center;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:   #ccc;
}

.mdl-layout__header-row {
  padding-left: 25px;
}

.mdl-layout__title, .mdl-layout-title {
  font-size: 16px;
}

/*.mdl-layout {
	align-items: center;
  justify-content: center;
}*/
.mdl-layout__content {
	padding: 24px;
	flex: none;
  margin-top: 10em;
  text-align: center;
}

.mdl-card {
  margin:auto;
}

.toSignUpPrompt {
  margin-top: 20px;
  margin-bottom: 5px;
  color:#999;
}

.toSignUpLink {
  color: #999;
}

.toSignUpLink:hover, .toSignUpLink:hover:focus {
  color: #3d4fb0;
}
