.App {
  text-align: center;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:   #ccc;
}

.mdl-layout__header-row {
  padding-left: 25px;
}

.mdl-layout__content {
	padding: 24px;
	flex: none;
  margin-top: 5em;
  text-align: center;
}

.mdl-card {
  margin:auto;
}

.toSignUpPrompt {
  margin-top: 20px;
  margin-bottom: 5px;
  color:#999;
}

.toSignUpLink {
  color: #999;
}

.toSignUpLink:hover, .toSignUpLink:hover:focus {
  color: #3d4fb0;
}

.mdl-layout__container {
  background-color: #f5f5f5;
}

.sign-up-form button {
  margin-right:1em;
}

.sign-up-form .avatar {
  margin-right: .5em;
  margin-bottom: .5em;
}

.sign-up-form {
  margin: 3em;
}

.signInUpLink {
  margin-top: 1em;
}

.userInfo{
  margin:5em;
}

.signOutButton{
  margin:2em;
}
